:root {
  --background: #0f172a;
  --text: #ffffff;
  --button-color: #0060df;
  
  --light-grey: #F0F0F4;
  --grey: #cdcddf;
  --dark-grey: #6f6f7d; 
}

.App {
  text-align: center;
  font-family: "__inter_20b187","__inter_Fallback_20b187", sans-serif, "Arial";
}

body {
  background-color: var(--background);
  padding: 0;
  margin: 0;  
}